<div class="player-input">
  <h2 *ngIf="teamName">Tiimi: {{ teamName }}</h2>
  <div *ngIf="questionsService.teamNameMode">
    <h2>Anna tiimin nimi</h2>
    <input type="text" [(ngModel)]="input" (keyup.enter)="submit()" />
    <button (click)="submit()">Lähetä</button>
  </div>
  <div *ngIf="!questionsService.teamNameMode">
    <h2 *ngIf="questionsService.currentQuestion">
      #{{ questionsService.questionIndex + 1 }}
      {{ questionsService.currentQuestion.topic }}
    </h2>

    <div *ngIf="questionsService.clueIndex && teamName">
      <h2>Anna vastaus</h2>
      <input type="text" [(ngModel)]="input" (keyup.enter)="submit()" />
      <button (click)="submit()">Lähetä</button>
      <br /><br />
      <h3>Vastasit: {{ getCurrentAnswer() }}</h3>
      <button
        *ngIf="getCurrentAnswer()"
        (click)="copyAnswer(getCurrentAnswer()!)"
      >
        Muuta vastausta
      </button>
      <br /><br />
      <button
        *ngIf="getPreviousAnswer()"
        (click)="copyAnswer(previousAnswer); submit()"
      >
        Käytä vastausta: {{ getPreviousAnswer() }}
      </button>
    </div>
  </div>
</div>
