.teams {
  .team {
    display: grid;
    grid-template-columns: 50px 1fr 40px 1fr 1fr 1fr 1fr;
    gap: 5px;
    &.maxPoints {
       .teamName {
        background-color: #ffd700ee !important;
      }
    }
    &.secondPoints {
      .teamName {
        background-color: #c0c0c0ee;
      }
    }
    &.thirdPoints {
      .teamName {
        background-color: #cd7f32ee;
      }
    }
    &.scoreMode {
      height: 100px;
    }
    > div {
      background-color: #f9f9f9ee;
      color: #333;
      padding: 8px;

      display: flex;
      align-items: center;
      justify-content: center;
      &.teamName, &.answerPoints {
        background-color: #eeee;
      }
      &.allPoints {
        background-color: #afcce8ee;
      }
      &.correct {
        background-color: #ffd700ee;
      }
    }
    margin-bottom: 5px;
  }
}

@keyframes shineEffect {
  0% {
    background-position: 200% 0, 0 0;
  }
  7%, 100% {
    background-position: -100% 0, 0 0;
  }
}


.maxPoints .teamName,
.secondPoints .teamName,
.thirdPoints .teamName {
  --shine-deg: 135deg;

  background-repeat: no-repeat;
  background-position: -100% 0, 0 0;

  background-image: linear-gradient(
      var(--shine-deg),
      transparent 20%,
      transparent 40%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.4) 65%,
      transparent 70%,
      transparent 100%
  );

  background-size: 250% 250%, 100% 100%;
  transition: background-position 0s ease;


  animation: shineEffect 10s linear infinite;
}
/*
.secondPoints .teamName{
  animation-delay: .5s;
}

.thirdPoints .teamName {
  animation-delay: 1s;
}*/



