* {
  box-sizing: border-box;
}
@keyframes opacity {
  0%, 20%, 90%, 100% {
    opacity: 1;
  }

  30%, 80% {
    opacity: 0;
  }
}


.question {
  background: url('/assets/celebcity.jpg') #b52b22 50%;
  color: #FAF4F4FF;
  div {
    color: black;
  }
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 30px;
  position: relative;
  .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #b52b22;
    overflow: hidden;

    animation: opacity 10s ease-in-out infinite both;
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      object-fit: cover;
    }
  }

  .qr {
    flex: 0 0 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    max-height: 60%;
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
  h2 {
    text-align: center;
    flex: 0 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 40px;
    color: #eee;
    text-shadow:
    -1.5px -1.5px 0 #333,  /* Top left shadow */
    1.5px -1.5px 0 #333,  /* Top right shadow */
    -1.5px 1.5px 0 #333,   /* Bottom left shadow */
    1.5px 1.5px 0 #333;   /* Bottom right shadow */
  }

  &.scoreMode {
    .clues {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
    }

    .teams {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: auto;
    }
  }
  .clues {
    flex: 0 0 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    margin-bottom: 10px;

    .clue {

      height: 100%;
      perspective: 1000px;
      overflow: hidden;

      img {
        max-width: 100%;
        max-height: 100%;
      }

      .card {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
        transition: transform 0.5s;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 5%;
        color: white;
        background: rgba(9, 142, 30, 0.96);
        box-shadow: 1px 1px 41px 9px #000f0970;
      }

      .back {
        background-image: url('/assets/tree2.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        filter: brightness(70%);
      }

      .front {
        transform: rotateY(180deg);
      }

      &.shown .back {
        transform: rotateY(-180deg);
      }

      &.shown .front {
        transform: rotateY(0deg);
      }
    }
  }

  .teams {
    flex: 0 0 30%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    font-size: large;
    text-align: center;
    .answered {
      background-position: left;
      animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f7d6d6e5;
      text-transform: uppercase;
      background: linear-gradient(to right, #c2e8afe5 50%, #f7d6d6e5 50%);
      background-size: 200% 100%;
      background-position: right;
      transition: background-position .5s;
    }
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-11-27 13:29:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-bottom
 * ----------------------------------------
 */
@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
